*{
    box-sizing: border-box;
}
.menu-item {
    text-decoration: none; 
    color: black;
    border-radius: 50px;  
    border: 3px solid black;
    padding: 10px;
    filter: drop-shadow(2px 2px 4px black);


}
.menu-item-active {
    text-decoration: none; 
    color: black;
    border-radius: 50px;  
    border: 3px solid rgb(99, 44, 44);
    padding: 10px;
    filter: drop-shadow(2px 2px 4px rgb(99, 44, 44));

}





