*{
    box-sizing: border-box;
}
.title{
    font-size: 30px;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   margin: auto;
}
.sub-title{
    font-size: 20px;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   margin: auto;
   margin-bottom: 20px;

}

.box{
   display: flex;
   flex-direction: column;
   position: absolute;
   width: 400px;
   height: 400px;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   margin: auto;
   
   input{
    height: 50px;
    padding: 5px;
    margin: 10px;
    border: 3px solid black;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
   }
   input:hover{
    border: 3px solid rgb(49, 74, 172);
   }
   
   
}

input::placeholder{
    text-align: center;
}
input:last-child{
    width: 200px;
    top: 0; 
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    background-color: rgb(49, 74, 172);
    border: 3px solid rgb(29, 36, 64);
    transition: 0.3s;
}
input:last-child:active{
    transform: scale(0.9);
    transition: 0.3s;
}