.bar-header {
    background-color: whitesmoke;
    border: 3px solid black;
    border-radius: 50px;
    display: flex;
    position: fixed;
    width: 98%;
    padding: 5px;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);

}
